{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    {% if session["role"] == "Officer"%}
    <form method = "POST">
        <div class="mb-3 col-6">
            <label  class="form-label">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" required>message</label>
            <textarea class="form-control" name="message" rows="10" placeholder="Announcement detail" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Announce!</button>
    </form>
    <br><br><br>
    <table class="table table-hover">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Message Preview</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row["title"] }}</td>
                <td>{{row["created_at"]}} </td>
                <td>{{ row["preview"] }}</td>
                <td>
                <form method="POST" action="/announcement_delete">
                    <input type="hidden" name="announcement_id" value="{{ row['announcement_id'] }}">
                    <button type="submit" class="btn btn-danger btn-sm">DELETE</button>
                </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
    <table class="table table-hover">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Message Preview</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row["title"] }}</td>
                <td>
                <a id = "link_announcement"  href="/announcement/{{ row['announcement_id'] }}">
                    {{ row["preview"] }}
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {%endif%}
{% endblock %}